@use "abstracts/variables/breakpoints" as bp;

#main {
    overflow: hidden;
}
#stage {
    z-index: 3;
}

.pm-layer {
    position: relative;
    z-index: 5;
    font-family: system-ui, Arial;
}

.page {
    overflow-x: hidden;
    overflow-y: hidden;
    &--scroll {
        height: auto;
    }
}

.dWrap {
    margin: auto;
    width: 800px;
    @media screen and (max-width: bp.$tablet-portrait) {
        width: 90vw;
    }
}