@use "../abstracts/variables/breakpoints" as bp;

// base/reset.scss
html, body, #main {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    margin:0;
}
body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    @media screen and (max-width: bp.$tablet-portrait) {
        overflow-y: auto;
    }
}

td {
    border: 1px solid black;
    padding: 5px;
}
#main {
    background: inherit;
}
#main, #stage, .page {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;

}