

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap');


$headerfont: 'Arial';
$boldfont: 'Arial';
$italicfont: 'Barlow Condensed', sans-serif;
$bodyfont: 'Arial';

.page {
    & * {
        font-family: $bodyfont;
    }



    & h2 {
        font-family: $boldfont;
        text-transform: uppercase;
        font-size: 36px;
    }

    & h3 {
        font-family: $boldfont;
        text-transform: uppercase;
        font-size: 24px;
    }

    & p {
        font-size: 14px;

        & span, & nobr {
            font-family: inherit;
            font-size: inherit;
        }

        &.text-lg {
            font-size: 16px;
        }
    }

    & b {
        font-weight: 700;
    }
}