$white: #fff;
$black: #000;


$primary: #ffcc05;
$secondary: #d40511;
$tertiary: #173778;
$grad: #bdc7d9;

$shade1: #d8d8d8;
$shade2: #afafaf;
$shade3: #333333;
$shade4: #666;


$primary-accent: #333;
$debug-color: #333;




$positive: #028844;
$negative: #9E2A2B;

$grey: #878685;
$light-grey: #f2f2f1;
$light-grey2: #e6e6e6;
$light-grey-bg: #fafafa;
